In [1]:
from transform import *
import pandas as pd

----------------------------------------
            NVDA_close  NVDA_dif_aper_cierre  NVDA_rango_dia NVDA_signo_dia
Date
2022-05-23  168.979996              -6.23999        7.359894              -
            NVDA_close  NVDA_dif_aper_cierre  NVDA_rango_dia NVDA_signo_dia  \
2022-05-23  168.979996              -6.23999        7.359894              -
2022-05-24         NaN                   NaN             NaN            NaN

            TSLA_close  TSLA_dif_aper_cierre  TSLA_rango_dia TSLA_signo_dia  \
2022-05-23  674.900024            -19.880005       41.895081              -
2022-05-24         NaN                   NaN             NaN            NaN

            MSFT_close  MSFT_dif_aper_cierre  ...  AMZN_signo_dia AMD_close  \
2022-05-23  260.649994             -5.159988  ...               +     95.07
2022-05-24         NaN                   NaN  ...             NaN       NaN

            AMD_dif_aper_cierre  AMD_rango_dia  AMD_signo_dia INTC_close  \
2022-05-23            -3.409996       4.270004              -       42.0
2022-05-24                  NaN            NaN            NaN        NaN

            INTC_dif_aper_cierre  INTC_rango_dia  INTC_signo_dia   btc_usd
2022-05-23             -0.310001        0.919998               -       NaN
2022-05-24                   NaN             NaN             NaN  29379.45

[2 rows x 25 columns]

In [3]:
tablon

,NVDA_close,NVDA_dif_aper_cierre,NVDA_rango_dia,NVDA_signo_dia,TSLA_close,TSLA_dif_aper_cierre,TSLA_rango_dia,TSLA_signo_dia,MSFT_close,MSFT_dif_aper_cierre,...,AMZN_signo_dia,AMD_close,AMD_dif_aper_cierre,AMD_rango_dia,AMD_signo_dia,INTC_close,INTC_dif_aper_cierre,INTC_rango_dia,INTC_signo_dia,btc_usd
2022-05-23,168.979996,-6.23999,7.359894,-,674.900024,-19.880005,41.895081,-,260.649994,-5.159988,...,+,95.07,-3.409996,4.270004,-,42.0,-0.310001,0.919998,-,NaN
2022-05-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29379.45